html {
    width: 1024px;
    margin: 0 auto;
    background: #000000;
}

body {
    width: 800px;
    margin: 0 auto;
    background: url("../img/dark_brick_wall.png");
    font-family: "Comic Sans MS";
}

.question, .answer {
    width: 300px;
    position: relative;
    padding: 5px;
    position: relative;
    z-index: 1;
    margin: 10px 0px;
    box-shadow: 5px 5px 7px #000;
    min-height: 30px;

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.question {
    background-color: #7fe4ff;
    vertical-align: top;
    margin-left: 20px;
}

.answer {
    text-align: left;
    background-color: #95ff7a;
    vertical-align: bottom;
    margin-right: 20px;
}

.question:after, .question:before, .answer:after, .answer:before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    z-index: -1;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.question::after, .question::before {
    background: #7fe4ff;
    top: 10px;
    left: -6px;
}

.answer::after, .answer::before {
    background: #95ff7a;
    top: 10px;
    right: -6px;
}

.container {
    border-top: 20px solid red;
    border-left: 50px solid transparent;
    /*border-right: 50px solid transparent;*/
    display: inline-block;
}

table {
    width: 800px;
    margin: 0px auto;
}

td.tdQuestion {
    vertical-align: top;
}

td.tdAnswer {
    margin-right: 0;
    vertical-align: bottom;
}

tr.emptyRow {
    height: 50px;
}

td.tdAvatar {
    width: 80px;
}

.userAvatar {
    background: url("../img/user.png") no-repeat;
    width: 80px;
    height: 70px;
}

.adminAvatar {
    background: url("../img/admin.png") no-repeat;
    width: 80px;
    height: 70px;
}

.authorName {
    color: red;
    width: 80px;
    text-align: center;
    display: inline;
}

.postDate {
    width: 80px;
    text-align: center;
    color: #ffff00;
    display: inline;
    font-size: 10pt;
}

#messages {
    overflow: auto;
}

#messageForm {
    color: darkorange;
    font: "Comic Sans MS" 12pt bold;
    background:url("../img/binding_dark.png");
    padding: 10px 10px 30px;
    font-size: 14pt;
}

#nickBox {
    border-radius: 10px;
    padding: 5px;
    margin-left: 10px;
    background: url("../img/brickwall.png");
    color: darkblue;
}

#messageBox {
    border-radius: 10px;
    padding: 5px;
    max-width: 500px;
    max-height: 100px;
    background: url("../img/brickwall.png");
    color: darkblue;
}

#sendBtn {
    top: -50px;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px 20px;
    font-size: 14pt;
}