<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../resources/css/main.css">
    <title>Заказы</title>

    <style>
        #older_title {
            text-align: center;
            color: red;
        }
    </style>
</head>
<body>
<div id="main">

    <h1 id="older_title">Заказы:</h1>

    <table class="answersTable" border="1">
        <thead>
        <tr>
            <th>Имя заказчика</th>
            <th>E-mail</th>
            <th>Адрес</th>
            <th>Телефон</th>
            <th>Площадь<sup>2</sup></th>
            <th>Количество комнат</th>
            <th>Сообщение</th>
        </tr>
        </thead>
        <tbody>

        <tr>
            <td>Вася</td>
            <td>uasya@uasya.com</td>
            <td>Масква</td>
            <td id="answer">555-55-55</td>
            <td>100.0</td>
            <td>100</td>
            <td>Хачу ремонт</td>

        </tr>

        <tr>
            <td>Джэк</td>
            <td>jack@jack.com</td>
            <td>JackCity</td>
            <td id="answer">33-333-333</td>
            <td>100.0</td>
            <td>10</td>
            <td>House built by Jack</td>

        </tr>

        <tr>
            <td>fsfs</td>
            <td>dfsfssdf</td>
            <td>fsdfs</td>
            <td id="answer">sdfsdf</td>
            <td>342.0</td>
            <td>342</td>
            <td>rsdagvrthfhjgjffdggggggggggggggg</td>

        </tr>

        <tr>
            <td>fdgfdgxhmjhj</td>
            <td>hmnhgmbn</td>
            <td>mbcnmbvnm</td>
            <td id="answer">bnmbmbn</td>
            <td>4645.0</td>
            <td>465</td>
            <td>fghfghbnvcmndgcvbc
                hjdghj
                ghhngh</td>

        </tr>

        <tr>
            <td>ffdncv vnbvnmv</td>
            <td>bvnvbns</td>
            <td>zvxfbvxc</td>
            <td id="answer">gnmghm h</td>
            <td>4565.0</td>
            <td>546</td>
            <td>hgfj56uj5ntd baevs</td>

        </tr>

        <tr>
            <td> der645h yd </td>
            <td>d re y4y 4 r</td>
            <td>ger eger</td>
            <td id="answer"> r erg rge </td>
            <td>34535.0</td>
            <td>345</td>
            <td>dfhcxn</td>

        </tr>

        </tbody>
    </table>
</div>
</body>
</html>