<!doctype html>
<meta charset="utf-8">
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Заявка</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="../resources/css/index.css"/>

</head>
<body>
<table>
    <tbody>
    <tr>
        <td class="tdQuestion" colspan="2">
            <div class="question">Как сделать быстрый ремонт комнаты за 15 тыс. руб?</div>
        </td>
    </tr>
    <tr>
        <td class="tdAnswer" align="right" colspan="2">
            <div class="answer">Своими руками или можете воспользоваться услугами нашей фирмы</div>
        </td>
    </tr>
    <tr class="emptyRow">
        <td colspan="2"></td>
    </tr>
    <tr>
        <td class="tdQuestion" colspan="2">
            <div class="question">Хочу сделать ремонт в венецианском стиле с пилястрами из бронзы для лестницы. Вы
                занимаетесь
                дизайном?
            </div>
        </td>
    </tr>
    <tr>
        <td class="tdAnswer" align="right" colspan="2">
            <div class="answer">Ну, под хорошее вино урожая 1652 года мы с Вами сделам то, что не снилось Леонардо</div>
        </td>
    </tr>
    <tr class="emptyRow">
        <td colspan="2"></td>
    </tr>
    <tr>
        <td class="tdQuestion" colspan="2">
            <div class="question">Простите, а Вы крыши ремонтируете? Крышуете так сказать?</div>
        </td>
    </tr>
    <tr>
        <td class="tdAnswer" align="right" colspan="2">
            <div class="answer">Да мы за деньги не только крышуем, мы еще и отжимом занимаемся</div>
        </td>
    </tr>
    </tbody>
</table>

<form id="messageFrom">
    Ник:<input id="nickBox" type="text"><br/>
    Сообщение:<br/><textarea id="messageBox" rows="5" cols="50" maxlength="255"></textarea>
</form>

<!--<div class="messageBox">
    <div class="question"><br/><br/><br/></div>
    <div class="answer"><br/><br/><br/><br/></div>
</div>
<div class="messageBox">
    <div class="question"><br/><br/><br/><br/></div>
    <div class="answer"><br/><br/></div>
</div>
<div class="messageBox">
    <div class="question"><br/><br/><br/></div>
    <div class="answer"><br/><br/><br/></div>
</div>-->
</body>
</html>