<!doctype html>
<html>
<head>
    <meta charset="windows-1251">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Заявка</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="../resources/css/index.css"/>

</head>
<body onload="scrollToElement('sendBtn');">
<script>
    function scrollToElement(theElement) {
        /*if (typeof theElement === "string") theElement = document.getElementById(theElement);
        var selectedPosX = 0;
        var selectedPosY = 0;
        while (theElement != null) {
            selectedPosX += theElement.offsetLeft;
            selectedPosY += theElement.offsetTop;
            theElement = theElement.offsetParent;
            console.log(selectedPosY);
        }
        window.scrollTo(selectedPosX, selectedPosY);*/
        var i = 0;
        var interval = setInterval(function () {
            if (document.documentElement.scrollTop !== 0) {
                window.scrollBy(0, i);
                i--;
            } else {
                clearInterval(interval);
            }
        }, 10)
    }

</script>
<div id="messages">
    <table>
        <tbody>
        <tr>
            <td class="tdQuestion" colspan="2">
                <div class="question">Как сделать быстрый ремонт комнаты за 15 тыс. руб?</div>
            </td>
        </tr>
        <tr>
            <td class="tdAnswer" align="right" colspan="2">
                <div class="answer">Своими руками или можете воспользоваться услугами нашей фирмы</div>
            </td>
        </tr>
        <tr class="emptyRow">
            <td colspan="2"></td>
        </tr>
        <tr>
            <td class="tdQuestion" colspan="2">
                <div class="question">Хочу сделать ремонт в венецианском стиле с пилястрами из бронзы для лестницы. Вы
                    занимаетесь
                    дизайном?
                </div>
            </td>
        </tr>
        <tr>
            <td class="tdAnswer" align="right" colspan="2">
                <div class="answer">Ну, под хорошее вино урожая 1652 года мы с Вами сделам то, что не снилось Леонардо
                </div>
            </td>
        </tr>
        <tr class="emptyRow">
            <td colspan="2"></td>
        </tr>
        <tr>
            <td class="tdQuestion" colspan="2">
                <div class="question">Простите, а Вы крыши ремонтируете? Крышуете так сказать?</div>
            </td>
        </tr>
        <tr>
            <td class="tdAnswer" align="right" colspan="2">
                <div class="answer">Да мы за деньги не только крышуем, мы еще и отжимом занимаемся</div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<form id="messageForm" name="form">
    Ник:<input id="nickBox" type="text"><br/>
    Сообщение:<br/><textarea id="messageBox" rows="6" cols="50" maxlength="255"></textarea><br/>
    <input id="sendBtn" type="submit" value="Отправить">
</form>

<!--<div class="messageBox">
    <div class="question"><br/><br/><br/></div>
    <div class="answer"><br/><br/><br/><br/></div>
</div>
<div class="messageBox">
    <div class="question"><br/><br/><br/><br/></div>
    <div class="answer"><br/><br/></div>
</div>
<div class="messageBox">
    <div class="question"><br/><br/><br/></div>
    <div class="answer"><br/><br/><br/></div>
</div>-->
</body>
</html>