<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Заявка</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="../resources/css/index.css"/>

</head>
<body>
<form id="messageForm">
    Имя:<input id="nickBox" type="text" maxlength="20"><br/>
    Адрес:
    Сообщение:<br/><textarea id="messageBox" rows="6" cols="50" maxlength="255"></textarea><br/>
    <input id="sendBtn" type="submit" value="Отправить">
</form>

<!--<div class="messageBox">
    <div class="question"><br/><br/><br/></div>
    <div class="answer"><br/><br/><br/><br/></div>
</div>
<div class="messageBox">
    <div class="question"><br/><br/><br/><br/></div>
    <div class="answer"><br/><br/></div>
</div>
<div class="messageBox">
    <div class="question"><br/><br/><br/></div>
    <div class="answer"><br/><br/><br/></div>
</div>-->
</body>
</html>